html, body{
  margin:0;
  padding:0;
  height:100%;
}
main{
	display: block;
	margin: 0 auto;
	width: 900px;
}
article{
	display: inline-block;
	vertical-align: top;
	margin: 1em 2em;
}
td {
	border: 1px solid black;
}

/*#art-first thead,
#art-first tbody*/
#art-first thead {
	display: flex;
	justify-content: baseline;
	flex-direction: column;
}
#art-first thead {
	background: white;
	margin: auto 0;
}

#art-first tr {
	overflow: hidden;
}

/*****************************************/

#art-second table thead,
#art-second table tbody {
	display: block;
}

#art-second table tbody {
	overflow: auto;
	height: 500px;
}

#art-second table td {
	width: 100px;
}

/*****************************************/

iframe {
	border: none;
	height: 500px;
	top: 10px;
}

#art-third thead{
	position: fixed;
	top: 12px;
	background: green;
}
#art-third table{
	position: relative;
	top: 20px;
}

